<%= @album.title %>

<a href="<%= edit_album_url %>">Edit Album</a>
<a href="<%= band_url(@band) %>">Back to <%= @band.name %></a>
<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Album">
  <%= auth_token %>
</form>
