<% 
  unless cat.persisted?
    action_url = 'cats_url'
  else
    action_url = 'cat_url(cat)'
  end 
 %>

<h1>New Cat</h1>

<form action="/cats" method="post">
  <% if action_verb == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  
  <label for="name"> Name
    <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>
  
  <br>
  
  <label for="sex"> Sex
    M<input id="sex" type="radio" name="cat[sex]"<%= 'checked' if cat.sex == 'M'%>>
    F<input id="sex" type="radio" name="cat[sex]"<%= 'checked' if cat.sex == 'F' %>>
  </label>
  
  <br>
  
  <label for="color"> Color
    <select id="color" name="cat[color]">
      <% unless cat.color %>
        <option disabled selected>Select a color</option>
      <% end %>
      <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>"<%= 'selected' if color == cat.color %>><%= color %></option>
      <% end %>
    </select>
  </label>
  
  <br>
  
  <label for="birth_date">Birth date
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  </label>
  
  <br>
  
  <label for="description"> Description
    <textarea name="cat[description]" rows="8" cols="80"><%= @cat.description %></textarea>
  </label>
  
  <br>
  
  <input type="submit" value="submit">
</form>